*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, label, input, input::placeholder, th, td{
    font-family: 'Poppins', sans-serif;
}
.form-label, .form-check-label, p{
    font-weight: 600;
    letter-spacing: 0px;
    color: #2c323e;
    opacity: 0.85;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], .form-select {
    height: fit-content;
    padding: 12px 15px;
    /* background: #ffffff; */
    border-radius: 11px;
    border: 2px solid #ffffff;
    border-radius: 19px;
    box-shadow: 0px 8px 17px #00000028;
    background: transparent;
}

.form-control:focus, textarea:focus, .form-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 2px solid #ffffff;
    background: transparent;
}
.form-check-input:checked {
    background-color: transparent;
    border-color: none;
}
form .form-check-input:checked[type=checkbox]{
    background-image: url("../img/Checkbox.png"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    box-shadow: 0px 3px 6px #00000028;
    opacity: 1;
  }
  form .form-check-input selected{
    background-image: url("../img/Checkbox.png"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    box-shadow: 0px 3px 6px #00000028;
    opacity: 1;
  }
  
  form .form-check-input {
    background-image: url("../img/checkboxdeselect.png"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    box-shadow: 0px 3px 6px #00000028;
    background-color: transparent;
    border: none;
  }
  
  form .radio .form-check input:checked[type=radio] {
    background-image: url("../img/radio-button.png"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    box-shadow: 0px 15px 15px #00000026;
    opacity: 1;
    /* border: 3px solid #ffffff; */

  }
  form .radio .form-check-input{
    background-image: url("../img/radio-button-deselected.png"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    box-shadow: 0px 3px 6px #00000026;
    opacity: 1;
    /* background: transparent; */
  }

  
body{
    background: url(../img/bg@2x.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
    margin: 0;
    padding: 0;
}

.header-section{
    background: url(../img/headerBG.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
    height: 30vh;
    display: flex;
    align-items: center;
}
.header h1{
    font-weight: 600;
    color: #fdb23e;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
}
.header h2{
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 1px;
    font-weight: unset;
    color: #ffffff;
    font-weight: 600;
}
.header p{
    font-size: 24px;
    line-height: 32px;
    font-weight: unset;
    color: #ffffff;
    font-weight: 600;
}

.header{
    width: 100%;
}
.main-body-content h2{
    width: 40%;
    margin: auto;
    color: #223441;
    text-align: center;
    font-weight: 600;
}
.main-body-content form{
    width: 80%;
    margin: 50px auto;
    border: 2px solid #ffffff;
    border-radius: 19px;
    box-shadow: 0px 8px 17px #00000028;
    padding: 30px;
}
.main-body-content form .btn-primary{
    background: transparent linear-gradient( 
    180deg, #BF58FF 0%, #246DFF 100%);
    box-shadow: 0px 7px 15px #6084f14d;
    border-radius: 12px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    margin: 30px auto 0;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 26px;
}
#other-lan{
    display: none;
}
.otherAddress{
    display: none;
}
.radio .form-check{
    display: inline-block;
    margin-right: 20px;
}